.title-banner{
    display: grid;
    grid-template-columns: 7fr 1fr;
    background-color: rgb(212, 190, 237);
    color: darkblue;
    text-align: center;
    text-shadow: 10px;
    padding: 20px;
    image-rendering: auto;

  
  }
  .table-style {
    width: 100%;
    height: auto;
  }
  
  .cell-image {
    width: 50%;
    
  }
  
  .cell-text {
    width: 50%;
    
  }
  
  .image-style {
    width: 400px;
    height: auto;
    padding-left: 20px;
    padding-right: 40px;
  }

  .Image1-style{
    width: 400px;
    height: 200px;
  }
  
  .overview{
    text-align: center;
  }
  body {
    background-color: beige; 
    color: rgb(56, 55, 55);
    background-size: cover;
    background-position: center;
  }
  h1, h2, h3{
    color: darkblue;
  }
  title{
    color: darkblue;
  }
  nav ul {
    list-style-type: none;
   
    background-color: beige; 
  }
  nav a:hover {
    background-color: #b1b19e;
    color: black; 
  }
  nav a {
    display: inline-block;
    color: blue; 
    text-align: left;
    padding: 10px;   
  }
  nav figure{
    align-items: right;
    padding-bottom: 20px;
  }
  p::first-letter {
    font-size: 150%;
    color: rgb(53, 53, 186);
  }
  .container p{
    color: black;
  }
  input{
    border: 2px solid rgb(62, 65, 79);
  }
  #here{
    color: rgb(53, 53, 186);
  }
  .upperChoice{
    list-style: none;
    display: inline;
    margin: 2em;
  }
  
  .content {
      display: block;
  }
  
  @media (min-width: 590px) {
      .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

      }
  }
    
  @media (min-width: 790px) {
    body{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3;
      width:1000px;
      margin-left: auto;
      margin-right: auto;
  }
      .content {
        display: block;
        max-width: 790px;
        margin: 0 auto;
        padding: 20px;
      }
  }
  .skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width:1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus {
    position: static;
    width:auto;
    height: auto;
}
.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(212, 190, 237);
  height: 86px;

}

.skip{
  position: absolute;
  left: -10000px;
  top: auto;
  width:1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {
  position: static;
  width:auto;
  height: auto;
}

